<!doctype html>
<html lang="en" ng-app="MahaBlog">

<head>
    <title>Front-end developer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="CSS/main.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
</head>

<body ng-controller="HomeController">
    <!-- <div ng-include="'_partials/header.html'" scope="" onload=""></div> -->
    <header>
        <div class="bg__line">
            <div class="line line__first"></div>
            <div class="line line__second"></div>
            <div class="line line__third"></div>
            <div class="line line__fourth"></div>
            <div class="line line__fifth"></div>
        </div>
        <div class="container-fluid">
            <div class="row sidebar__authname">
                <a ng-repeat="n in nav" ng-class="{'active': state==n.slug}" class="menu__list menu__list__menu" ng-click="changeRoute(n.slug)" ng-href="{{n.slug}}">
                    {{n.name}}
                </a>
            </div>
            <div class="devp__name">
                <a ng-class="{'active': state=='home'}" ng-click="state='home'" href="#">

                mahalakshmi
                </a>
            </div>
        </div>
    </header>
    <section class="main__blog scroll__bar" ng-show="state=='home'">
        <div class="container-fluid">
            <div class="row">
                <div class="header__content col-md-12">
                    <div class="designer__class">
                        Designer
                    </div>
                    <div class="front__class">
                        Front-end developer
                    </div>
                    <div class="about__me">
                        Hi! I'm Mahalakshmi. User Interface Designer and Developer based in Chennai.
                    </div>
                    <div class="btn-group butn__section" role="group">
                        <a class="btn__class" ng-click="state='about'" href="#about">
                            <button type="button" class="btn btn-default btn-lg buttn__main">About &amp; Contact</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contct__section scrollbar" ng-show="state=='#about'">
        <div class="container-fluid">
            <div class="row">
                <div class="header col-md-12">
                    <div class="menu__section list__section">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 aboutme__class">
                                    <div class="gist__content">
                                        <div class="whoami">who am I</div>
                                        <div class="aboutme">about me</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8 about__maha">
                                    I am Maha, 23 years old UI developer from chennai, I am passionate about creating new ideas and to be unique. 1+ years of experience as HTML5, CSS3 and jQuery Developer. I am able to set and meet high professional standards. I enjoy a challenge and look for the opportunity to expand and develop my skill set.
                                </div>
                                <div class="social__links col-md-2">
                                    <div class="external__link "><a target="_blank" href="https://github.com/kmahalakshmi"><i class="fa fa-github padd-rgt-10" aria-hidden="true"></i>Github</a></div>
                                    <div class="external__link"><a target="_blank" href="https://www.linkedin.com/in/mahalakshmi-k-57a39276"><i class="fa fa-linkedin padd-rgt-10" aria-hidden="true"></i>Linkedin</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="proj__sectn" ng-show="state=='#projects'">
    <section class="main__Section scrollbar">
        <div class="container-fluid">
            <div class="row sidebar__authname">
                <div class="header col-md-12">
                    <div class="content__class">
                        <div class="passion">My passion</div>
                        <div class="work">works</div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="proj__section">
                                    <div class="proj__one col-md-6">
                                        <div class="proj__img">
                                            <div class="img__link">
                                                    <img class="img__classs" src="Images/podcast.jpeg" alt="">
                                            </div>
                                        </div>
                                        <div class="proj__link">
                                            <a herf="/Podcast-theme/" class="link__class button">View Project</a>
                                        </div>
                                    </div>
                                    <div class="proj__two col-md-6">
                                        <div class="proj__img">
                                            <div class="img__link">
                                                <img class="img__classs" src="Images/movie.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="proj__link">
                                            <a herf="https://kmahalakshmi.github.io/jobly/" class="link__class button">View Project</a>
                                        </div>
                                    </div>
                                    <div class="proj__thr col-md-6">
                                        <div class="proj__img">
                                            <div class="img__link">
                                                <img class="img__classs" src="Images/jobly.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="proj__link">
                                            <a herf="https://kmahalakshmi.github.io/Movie-Theme/" class="link__class button">View Project</a>
                                        </div>
                                    </div>
                                    <div class="proj__four col-md-6">
                                        <div class="proj__img">
                                            <div class="img__link">
                                               <img class="img__classs" src="Images/jobly.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="proj__link">
                                            <a herf="#" class="link__class button">View Project</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         </section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 footer__class">
                    <footer class="know__more">
                        <div class="footer__wrap">
                            <div class="more__class">
                                Want to know more about me?
                            </div>
                            <div class="btn-group footer__btn" role="group">
                                <a class="btn__class" ng-click="state='about'" href="#contact">
                                    <button type="button" class="btn btn-default btn-lg buttn__footer">About &amp; Contact</button>
                                </a>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
   
    </section>

    <section class="contct__section scrollbar" ng-show="state=='#contact'">
        <div class="container-fluid">
            <div class="row">
            </div>
            <div class="header__contact col-md-12">
                <div class="col-md-12 mail__class">
                    <div class="know__more__mailto">
                        <div class="mail__wrap">
                            <form action="https://formspree.io/kkmahalakshmi24@gmail.com" method="POST">
                                <label>Name</label>
                                <br>
                                <input class="fields__form" type="text" name="name">
                                <br>
                                <br>
                                <label>Email</label>
                                <br>
                                <input class="fields__form" type="email" name="_replyto">
                                <br>
                                <br>
                                <label>Message</label>
                                <br>
                                <input class="fields__form" type="textarea" name="message">
                                <br>
                                <br>
                                <input class="form__submit" type="submit" value="Send">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="Js/angular.min.js"></script>
<script src="Js/angular-route.min.js"></script>
<script src="Js/main.js"></script>

</html>
