<header>
    <div class="bg__line">
        <div class="line line__first"></div>
        <div class="line line__second"></div>
        <div class="line line__third"></div>
        <div class="line line__fourth"></div>
        <div class="line line__fifth"></div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <a class="menu__list menu__list__menu" ng-click="state='about'" href="#about">
                About
            </a>
            <a class="menu__list" href="projects.html">
                Projects
            </a>
            <a class="menu__list" href="#">
                Blog
            </a>
            <a class="menu__list" href="contact.html">
                {{state}}
            </a>                 
            </div>
            <div class="devp__name">
               <a ng-click="state='home'"  href="#">
                mahalakshmi
                </a>
            </div>
        </div>
    </div>
    
</header>